<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"><table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">

    <ng-container matColumnDef="baseUrl">
      <th mat-header-cell *matHeaderCellDef> baseUrl </th>
      <td mat-cell *matCellDef="let element"> {{element[0].sphere.baseUrl | nameTransformer }} </td>
    </ng-container>

    <ng-container matColumnDef="success">
        <th mat-header-cell *matHeaderCellDef> success </th>
        <td mat-cell *matCellDef="let element">                 
          <i *ngIf="element[0].success; else failed" class="material-icons"> check </i>
          <ng-template #failed>
            <i class="material-icons"> cancel </i>
          </ng-template> </td>
    </ng-container>

    <ng-container matColumnDef="lastFinishTime">
          <th mat-header-cell *matHeaderCellDef> lastFinishTime </th>
          <td mat-cell *matCellDef="let element"> {{element[0].lastFinishTime | date:'HH:mm:ss - dd MMM' }} </td>
    </ng-container>

    <ng-container matColumnDef="timeZone">
      <th mat-header-cell *matHeaderCellDef> timeZone </th>
      <td mat-cell *matCellDef="let element"> {{element[0].sphere.timeZone | slice:7}}  </td>
    </ng-container>

    <ng-container matColumnDef="sphere">
        <th mat-header-cell *matHeaderCellDef> sphere </th>
        <td mat-cell *matCellDef="let element"> {{element[0].sphere.name }} </td>
    </ng-container>
                              
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          <div>BaseUrl:</div>
          <a href="{{element[0].sphere.baseUrl }}">{{element[0].sphere.baseUrl }}</a>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      matripple
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>